
{% extends "layout.html" %}
{% block body_content %}
	<h1>About</h1>
	<p>This is a Pokedex and Pokemon Team Maker.</p>
	<hr>
	<h2>Pokedex:</h2>
	<p>This is strictly for the sake of documenting Pokemon
	<br>and their characteristics. This include everything from
	<br>HP and Base Stat Totals to which generation each Pokemon
	<br>is from and how long it takes for their eggs to hatch.
	<br>It is desgined to make it easy for trainers to find
	<br>exactly what Pokemon they need for their teams.
	<br>If I decide to work on this project in the future
	<br>this will also include the newest generation Pokemon,
	<br>their moves, egg moves, level-up moves and much more.</p>
	<hr>
	<h3>Team Maker:</h3>
	<p>This part of the website is for users to implement
	<br>CRUD (create, read, update, delete) Pokemon for their
	<br>teams of 6 Pokemon. Ideally, I will implement a type
	<br>effectiveness chart so that it is easier for trainers
	<br>to analyse which types they need to work around.
	</p>
{% endblock body_content %}
